@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pedro de Valdivia<br />
    4041, Santiago, Chile<br />
    <abbr title="Phone">P:</abbr>
    +56995845219
</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:matias.iordache@gmail.com">matias.iordache@gmail.com</a><br />
    <strong>Mail UC:</strong> <a href="mailto:meiordac@uc.cl">meiordac@uc.cl</a>
</address>